
.container-title{
    background-color: var(--primary-color);
    width: 100%;
    padding: 50px;
}

.container-title h1{
    font-size: 300%;
}

.Home-Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.Carousel-item{
    border: 0px;
}

.Section-Container{
    width: 70%;
    text-align: center;
}