/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

.Navbar-Container{
    display: flex;
}

.Navbar-Container h1{
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
    /* font-size: 50px; */
    padding-left: 50px;
    width: fit-content;
}
.navbar{
    width: 100%;
    padding: 0;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
    width: 100%;
    text-align: center;
    /* padding: 8px; */
}
ul li a {
    display: block;
    padding: 8px;
    /* border-radius: 5px; */
    border: 3px solid transparent;
    color: #000;
    text-decoration: none;
    width: 100%;
}
ul li a:hover {
    /* background-color: var(--secondary-color); */
    border-bottom: 3px solid var(--secondary-color);
    cursor: pointer;
}
ul li ul.dropdown {
    min-width: fit-content; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 100%;
    /* padding: 15px; */
}

ul li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}
ul li ul.dropdown li {
    display: block;
}

.dropdown-menu a{
    width: 100%;
}

.dropdown-menu a:hover{
    background-color: var(--secondary-color);
    color: #f2f2f2;
}

.btns{
    display: flex;
    gap: 10px;
}

.button{
    background-color: var(--secondary-color);
    border: none;
    height: fit-content;
    padding: 3px;

}
.button:hover{
    background-color: transparent;
    color: #000;
}

.Nav-head{
    background-color: var(--primary-color);
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    height: fit-content;
}

.Password-Container a{
    text-decoration: none;
    color: white;
    font-size: small;
    font-family: inherit;
}

.Password-Container a:hover{
    color: #000;
}

.Nav-head form input{
    padding: 0;
    border-radius: 3px;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
}

.navbar-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}

.nav-item{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    width: 100%;
    text-align: center;
}

.nav-item a{
    padding-left: 0px;
}

.nav-link{
    padding-left: 0px;
    padding-right: 0px;
}

.me-2{
    width: fit-content;
}

.active{
    border-bottom: 3px solid var(--secondary-color);
}

.LoginContainer{
    display: flex;
    width: 100%;
}

.login-buttons{
    display: flex;
    gap: 10px;
}

.logged-in{
    background-color: transparent;
}

.Navbar-container{
    display: flex;
    background-color: var(--primary-color);
    padding: 10px;
    height: 70px;
    justify-content: space-between;
}

.Brand-Logo h1{
    color: black;
    text-align: center;
    text-align: center;
    padding: 15px;
}

.Login-Form{
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 100%;
    justify-content: flex-end;
}

.Password-Container{
    display: flex;
    flex-direction: column;
}

.logInSection{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.logOutSection{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.logOutSection p{
    font-weight: 500;
    margin: 0;
}

.logOutSection p span{
    color: bisque;
}

.loginoutbuttons{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 2px ;
    cursor: pointer;
    color: black;
    height: fit-content;
}

.loginoutbuttons:hover{
   color: #fff;
}

.Password-Area{
    display: flex;
    flex-direction: column;
}

.Password-Area a, .error{
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-family: "Poppins";
}

.error{
    color: red;
    text-align: right;
}

.Password-Area a:hover{
    color: black;
}

.loginformInput{
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
}


.navigation-container{
    display: flex;
}


@media only screen and (max-width: 438px) {
    .Navbar-container{
        flex-direction: column;
    }
}